/Makefile
.build
/Makefile.old
/blib/
/pm_to_blib
SSL
t/CAN_TALK_TO_OURSELF
t/live/ENABLED
xx*
/_eumm/
/MYMETA.*
/MANIFEST.bak
/MANIFEST.SKIP.bak
/Net-HTTP-*/
/Net-HTTP-*.tar.gz
t/LIVE_TESTS
.tidyall.d
