/MANIFEST.SKIP.bak
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/Net-HTTP-*/
/Net-HTTP-*.tar.gz
/_eumm/
/blib/
/cover_db/
/local/
/pm_to_blib
.build
.perl-version
SSL
xx*
t/CAN_TALK_TO_OURSELF
t/LIVE_TESTS
t/live/ENABLED
