Gisle Aas <gisle@aas.no> <aas@oslonett.no>
Gisle Aas <gisle@aas.no> <gisle.aas@it.uib.no>
Gisle Aas <gisle@aas.no> <gisle@baux-2.lan>
Ville Skyttä <ville.skytta@iki.fi> <ville.skytta@iki.fi>
Mark Stosberg <mark@stosberg.com> <mark@summersault.com>
Mark Stosberg <mark@stosberg.com> <MARKSTOS@cpan.org>
Mike Schilli <github@perlmeister.com> <mschilli@yahoo-inc.com>
Slaven Rezic <slaven@rezic.de> <srezic@iconmobile.com>